/* line 17, ../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/global.scss */
* {
  position: relative;
  -webkit-font-smoothing: antialiased;
}
/* line 9, ../sass/global.scss */
*::-moz-selection {
  background: #dd550c;
  color: #fff;
}
/* line 10, ../sass/global.scss */
*::selection {
  background: #dd550c;
  color: #fff;
}

/* line 13, ../sass/global.scss */
.hide {
  display: none;
}

/* line 14, ../sass/global.scss */
.seo {
  text-indent: -9999px;
}

/* line 16, ../sass/global.scss */
.container {
  margin: 0 auto;
  max-width: 1020px;
}

/* line 21, ../sass/global.scss */
p {
  line-height: 24px;
  padding: 0 0 30px 0;
}

/* line 26, ../sass/global.scss */
a {
  text-decoration: none;
  color: #9cb33a;
}
/* line 29, ../sass/global.scss */
a.btn {
  font-family: 'myriad-pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 15px;
  background: #9cb33a;
  color: #fff;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
/* line 36, ../sass/global.scss */
a.btn:hover {
  background: #dd550c;
}

/* line 42, ../sass/global.scss */
strong {
  font-family: 'myriad-pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: 700;
}

/* line 48, ../sass/global.scss */
body {
  font-size: 18px;
  color: #404040;
  font-family: 'myriad-pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: 400;
  background: #fff;
}

/* line 55, ../sass/global.scss */
header {
  font-size: 16px;
  color: #fff;
}
/* line 59, ../sass/global.scss */
header .tophead {
  background: #03244d;
}
/* line 62, ../sass/global.scss */
header .tophead h1 a {
  height: 88px;
  width: 486px;
  padding: 10px 0 10px 10px;
  background: url("/images/logo-desktop.png") no-repeat 10px 14px;
  display: inline-block;
}
/* line 74, ../sass/global.scss */
header .tophead nav.mainnav {
  padding: 18px 0 0px;
  height: 44px;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
}
/* line 80, ../sass/global.scss */
header .tophead nav.mainnav li.navitem {
  float: left;
  width: 16.6%;
  display: block;
  padding: 6px 0;
  font-family: 'myriad-pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: 700;
}
/* line 86, ../sass/global.scss */
header .tophead nav.mainnav li.navitem a {
  padding: 8px 10px 8px 14px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
/* line 94, ../sass/global.scss */
header .tophead nav.mainnav li.navitem:hover a {
  color: #dd550c;
}
/* line 97, ../sass/global.scss */
header .tophead nav.mainnav li.navitem.current, header .tophead nav.mainnav li.navitem :active {
  background: #9cb33a;
}
/* line 99, ../sass/global.scss */
header .tophead nav.mainnav li.navitem.current a, header .tophead nav.mainnav li.navitem :active a {
  border-right: 2px solid transparent;
  color: #fff;
}
/* line 104, ../sass/global.scss */
header .tophead nav.mainnav li.navitem.hasdrop a img {
  top: 5px;
  float: right;
}
/* line 108, ../sass/global.scss */
header .tophead nav.mainnav li.navitem.portfolios a img {
  top: -3px;
  float: right;
}
/* line 114, ../sass/global.scss */
header .tophead nav.mainnav li.secondary {
  position: absolute;
  right: 0;
}
/* line 117, ../sass/global.scss */
header .tophead nav.mainnav li.secondary.search {
  top: -60px;
  width: 310px;
}
/* line 120, ../sass/global.scss */
header .tophead nav.mainnav li.secondary.search input {
  width: 310px;
  border: 1px solid #fff;
  background: transparent url("/images/nav-search.png") no-repeat 277px 7px;
  font-family: 'myriad-pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 14px;
  opacity: 0.3;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
/* line 131, ../sass/global.scss */
header .tophead nav.mainnav li.secondary.search input::-webkit-input-placeholder {
  color: #fff;
}
/* line 134, ../sass/global.scss */
header .tophead nav.mainnav li.secondary.search input:focus {
  outline: none;
  border-color: #dd550c;
}
/* line 138, ../sass/global.scss */
header .tophead nav.mainnav li.secondary.search input:hover, header .tophead nav.mainnav li.secondary.search input:active, header .tophead nav.mainnav li.secondary.search input:focus {
  opacity: 1;
}
/* line 143, ../sass/global.scss */
header .tophead nav.mainnav li.secondary.globaldrop {
  top: -110px;
  width: 310px;
}
/* line 146, ../sass/global.scss */
header .tophead nav.mainnav li.secondary.globaldrop a {
  padding: 12px 14px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  font-family: 'myriad-pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: 700;
  border: 1px solid #fff;
  font-size: 14px;
  background: url("/images/nav-hasdroparrow.gif") no-repeat 285px 17px;
  opacity: 0.3;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
/* line 157, ../sass/global.scss */
header .tophead nav.mainnav li.secondary.globaldrop a:hover, header .tophead nav.mainnav li.secondary.globaldrop a:active, header .tophead nav.mainnav li.secondary.globaldrop a:focus {
  opacity: 1;
}
/* line 167, ../sass/global.scss */
header .subhead {
  background: url("/images/slidebg-1.jpg") top center no-repeat;
  background-size: cover;
  height: 512px;
}
/* line 172, ../sass/global.scss */
header .subhead .slideinfo {
  background: rgba(156, 179, 58, 0.8);
  padding: 26px 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}
/* line 178, ../sass/global.scss */
header .subhead .slideinfo h2 {
  font-size: 36px;
  font-family: 'myriad-pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  float: left;
}
/* line 184, ../sass/global.scss */
header .subhead .slideinfo h3 {
  font-family: 'myriad-pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  float: left;
}
/* line 189, ../sass/global.scss */
header .subhead .slideinfo a.btn {
  float: right;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  width: 200px;
}
/* line 194, ../sass/global.scss */
header .subhead .slideinfo a.btn:hover {
  background: #fff;
  color: #4e591d;
}
