@import "compass/reset";
@import "vars";

//----------------- Base

* {
  position: relative;
  -webkit-font-smoothing:antialiased;
  &::-moz-selection { background: $orange; color: #fff; }
  &::selection { background: $orange; color: #fff; }
}

.hide { display: none; }
.seo { text-indent: -9999px; }

.container {
  margin: 0 auto;
  max-width: 1020px
}

p {
  line-height: 24px;
  padding:0 0 30px 0;
  font-size: 18px;
  @include ff-light;
}

a {
  text-decoration: none;
  color: $green;
  &.btn {
    @include ff-bold;
    font-size: 18px;
    padding: 15px;
    background: $green;
    color: #fff;
    display: inline-block;
    @include fade;
    &:hover {
      background: $orange;
    }
  }
}

strong {
  @include ff-bold;
}

//----------------- Layout

body {
  font-size: 18px;
  color: $dark-grey;
  @include ff-reg;
  background: #fff;
}

header {
  font-size: 16px;
  color: #fff;

  .tophead {
    background: $blue;

    h1 a {
      height:88px;
      width: 486px;
      padding:10px 0 10px 10px;
      background: url('../images/logo-desktop.png') no-repeat 10px 14px;
      display: inline-block;
      // @include fade;
      // &:hover {
      //   opacity: 0.6;
      // }
    }

    nav.mainnav {
      padding: 18px 0 0px;
      height: 44px;
      @include clearfix;
      overflow: visible;
      // NAV ITEM
      li.navitem {
        float: left;
        width: 16.6%;
        display: block;
        padding: 6px 0;
        @include ff-bold;
        a {
          padding: 8px 10px 8px 14px;
          text-transform: uppercase;
          color: #fff;
          display: block;
          border-right: 2px solid transparentize(#fff, 0.7);
          @include fade;
        }
        &:hover a {
          color: $orange;
        }
        &.current,:active {
          background: $green;
          a {
            border-right: 2px solid transparent;
            color: #fff;
          }
        }
        &.hasdrop a img {
          top: 5px;
          float: right;
        }
        &.portfolios a img {
          top: -3px;
          float: right;
        }
      }
      // SECONDARY NAV ITEM
      li.secondary {
        position: absolute;
        right: 0;
        &.search {
          top: -60px;
          width: 310px;
          input {
            width: 280px;
            border: 1px solid #fff;
            background: transparent url('../images/nav-search.png') no-repeat 277px 7px;
            @include ff-bold;
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            padding: 10px 14px;
            opacity: 0.3;
            @include fade;
            &::-webkit-input-placeholder {
              color:#fff;
            }
            &:focus {
              outline: none;
              border-color: $orange;
            }
            &:hover, &:active,&:focus {
              opacity: 1;
            }
          }
        }
        &.globaldrop {
          top: -110px;
          width: 310px;
          a {
            padding: 12px 14px;
            text-transform: uppercase;
            color: #fff;
            display: block;
            @include ff-bold;
            border: 1px solid #fff;
            font-size: 14px;
            background: url('../images/nav-hasdroparrow.gif') no-repeat 285px 17px;
            opacity: 0.3;
            @include fade;
            &:hover, &:active,&:focus {
              opacity: 1;
            }
          }
        }
      }
    }

  }

  .subhead {
    background: url('../images/slidebg-1.jpg') top center no-repeat;
    background-size: cover;
    height: 512px;

    .slideinfo {
      background: transparentize($green, 0.2);
      padding: 26px 0;
      bottom: 0;
      position: absolute;
      width: 100%;
      h2 {
        font-size: 36px;
        @include ff-light;
        margin-bottom: 10px;
        float: left;
      }
      h3 {
        @include ff-reg;
        font-size: 18px;
        float: left;
      }
      a.btn {
        float: right;
        background: transparentize(#000, 0.4);
        margin-top: 10px;
        width:200px;
        &:hover {
          background: #fff;
          color: $green;
        }
      }
    }

  }

}

section.page {
  @include clearfix;
  padding-top: 30px;

  section.content {
    width: 820px;
    float: right;

    .intro {
      color: $mid-grey;
      h1 {
        @include ff-light;
        line-height: 64px;
        font-size:60px;
        margin-bottom:10px;
      }
      p {
        @include ff-light;
        line-height: 36px;
        font-size:24px;
        padding-bottom: 10px;
      }
    }

    .feature {
      padding: 30px 0;
      border-bottom: 1px dotted #ccc;
      @include clearfix;
      h2 {
        line-height: 36px;
        @include ff-semibold;
        color: $dark-grey;
        font-size: 24px;
        margin-top: -10px;
      }
      &.left img {
        float: left;
        margin-right: 30px;
      }
      &.full img {
        width: 100%;
        margin-bottom: 30px;
      }
    }

  }
  aside {
    float: left;
    width: 170px;
    margin-right: 30px;
    font-size: 16px;

    nav.sectionnav a {
      padding: 12px;
      display: block;
      color: $dark-grey;
      @include fade;
      &:hover {
        background: transparentize($light-grey,0.6);
      }
      &.current {
        @include ff-bold;
        color: $green;
        background: transparent;
      }
    }

    .meta {
      margin: 30px 0;
      background: $green;
      padding-bottom: 10px;
      color: #fff;
      .author {
        p {
          @include ff-bold;
          font-size: 16px;
          padding: 10px 16px 22px 16px;
          line-height: normal;
          span {
            @include ff-reg;
            font-style: italic;
            display: block;
          }
        }
        img.authorpic {
          border-bottom: 2px #fff solid;
        }
      }
      .links a {
        margin: 0 16px;
        color: #fff;
        display: block;
        padding: 12px 0;
        border-top: 1px dashed transparentize(#000,0.8);
        @include ff-bold;
        @include fade;
        &:hover {
          color: transparentize(#000,0.5);
        }
      }
    }

  }
}

footer {
  background: $light-grey;
  margin-top: 30px;
  padding: 50px 0 100px 0;
  @include clearfix;

  nav.footernav {
    @include clearfix;
    font-size: 16px;
    margin-bottom: 40px;
    .col {
      float: left;
      width: 20%;
      h3 {
        @include ff-bold;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      a {
        color: $dark-grey;
        padding: 9px 0;
        display: block;
        &.more {
          @include ff-bold;
        }
        &:hover {
          color: $orange;
        }
      }
    }
  }

  .copyright {
    float: left;
    margin-top: 10px;
    span {
      display: block;
      font-size: 14px;
      margin-top: 4px;
      a {
        color: $orange;
      }
    }
  }

  .social {
    float: right;
    h4 {
      @include ff-bold;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 14px;
      color: $mid-grey;
    }
    a {
      margin-right: 6px;
      @include fade;
      &:hover {
        opacity: 0.5;
      }
    }
  }

}